@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ....Header section.... */

h1 {
  font-family: "Roboto", sans-serif;
}

h3,
h4,
p {
  font-family: "Raleway", sans-serif;
}

.container {
  padding: 20px;
  width: 100%;
}
header {
  margin-bottom: 30px;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-wrapper img {
  max-width: 120px;
  margin-bottom: 20px;
}

.nav-menu {
  list-style: none;
}

.nav-menu li a:hover {
  color: #f1c47c;
}

.nav-link {
  text-decoration: none;
  color: #555555;
}

.nav-link:visited {
  color: #555555;
}

ul {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

ul li a:visited,
ul li a {
  color: #fafafab6;
}

/* ....About us section .... */

#about-us {
  background-color: #fafafa;
  margin-bottom: 40px;
}
#about-us h1 {
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 20px;
}

#about-us h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 200;
}

hr {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
}

#about-us p {
  text-align: center;
}

/* ....Call us section.... */

#call-us h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#call-us p {
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

#call-us img {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

/* ....Our services section .... */

#our-services {
  width: 100%;
  background-color: #fafafa;
}
#our-services h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 200;
  text-transform: uppercase;
}

#our-services h1 {
  margin-bottom: 40px;
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 20px;
}

.card-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 30px;
}

.card img,
.gpig-baths img,
.gpig-full-package img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.card-text {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.service-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 35px;
  padding: 15px 70px 15px 70px;
  border: 0;
  color: #555555;
  display: flex;
  margin: 0 auto;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  background-color: #f1c47c;
  transition: background-color 1s;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #ecd0a2;
}

/* ....Footer section.... */

footer {
  background-color: #555555;
}

footer ul {
  padding: 0;
}

footer p {
  margin: 0;
}
.social-media {
  text-align: center;
}

.footer-text {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  color: #fafafa;
}

.social-media i {
  padding: 5px;
  font-size: 20px;
  margin-bottom: 20px;
}

.hr-footer {
  width: 100%;
}

.footer-links {
  text-align: center;
}
.about-us,
.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.about-us li a,
.services li a {
  text-decoration: none;
  color: #fafafab6;
}

.about-us li a:hover,
.services li a:hover,
.contact-wrapper p:hover {
  color: #fafafa69;
}

.about-us li,
.services li {
  list-style: none;
}

.icon-link {
  text-decoration: none;
  color: black;
}
.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-wrapper p {
  color: #fafafab6;
}

/* ....Grooming page.... */
.header-img img {
  max-width: 120px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.header-img {
  display: flex;
}

.gpig-grooming {
  background-color: #fafafa;
}
.back-link i {
  font-size: 25px;
}

.grooming-cards {
  display: flex;
  flex-direction: column;
}

.grooming-card img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.grooming-title,
.grooming-subtitle,
.bath-title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.grooming-subtitle {
  font-size: 20px;
  font-weight: 100;
}

/* ....Form page.... */
.form-mb-5 {
  margin-bottom: 20px;
}
.form-pt-3 {
  padding-top: 12px;
}
.form-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}
.form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.form-input:focus {
  border-color: #555555;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.form-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #555555;
  color: white;
  width: 100%;
  cursor: pointer;
}
.form-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.form--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.form-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}

/* ....Nail clipping page.... */

.gpig-nail-clipping-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}
.gpig-nail-clipping-subtitle {
  text-align: center;
}

#carouselExampleCaptions {
  margin-bottom: 30px;
}

.carousel-item img {
  border-radius: 15px;
}

#service-select {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}

/* ....Bath page.... */

.bath-subtitle {
  text-align: center;
  margin-bottom: 20px;
}

/* ....Media Queries.... */

@media screen and (min-width: 572px) {
  .nav-link {
    font-size: 20px;
  }

  #about-us p {
    font-size: 25px;
  }
  .card-wrapper {
    flex-direction: row;
  }

  .card img {
    height: 200px;
  }
  .first-pair,
  .second-pair {
    width: 100%;
  }

  .card {
    height: 450px;
    margin-bottom: 30px;
  }

  #call-us img,
  .grooming-card img,
  .gpig-baths img {
    width: 70%;
    height: 250px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-us-wrapper,
  .call-us-wrapper,
  .our-services-wrapper,
  .social-media {
    max-width: 1200px;
    margin: 0 auto;
  }

  header {
    width: 100%;
    margin-bottom: 0;
  }

  .card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  #call-us img {
    width: 40%;
    height: 300px;
  }

  .header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .btn {
    width: 60%;
  }
}
